Repository chrisimcevoy/pyoda-time, changes with the labels that .github/labeler.yml gives for each.
All labels: python, yaml, json, markdown, docker, shell, dependencies, documentation, tests, release

build(ruff): add ruf rule
  pyproject.toml
Labels: none

fix(typing): specify class variable as final
  pyoda_time/__init__.py
Labels: python

fix(typing): add ruff rules & fix type hint (#10)
  pyoda_time/__init__.py
  pyproject.toml
Labels: python

build(gha): use correct default branch name for release workflow trigger
  .github/workflows/release.yml
Labels: yaml

build(gha): use correct default branch name for release workflow trigger (#11)
  .github/workflows/release.yml
Labels: yaml

fix(changelog): make CHANGELOG.md play nice with release-please-action
  CHANGELOG.md
Labels: markdown

fix(changelog): make CHANGELOG.md play nice with release-please-action (#13)
  CHANGELOG.md
Labels: markdown

build(release): use pat so that workflows run when a release pr is created
  .github/workflows/release.yml
Labels: yaml

build(release): use pat so that workflows run when a release pr is created (#14)
  .github/workflows/release.yml
Labels: yaml

feat(api): add PyodaConstants class
  pyoda_time/__init__.py
  pyoda_time/utility.py
  tests/helpers.py
  tests/test_instant.py
  tests/test_offset.py
Labels: python, tests

fix(api): ensure PyodaConstants properties return the same instance
  pyoda_time/__init__.py
Labels: python

feat(api): add PyodaConstants class (#15)
  pyoda_time/__init__.py
  pyoda_time/utility.py
  tests/helpers.py
  tests/test_instant.py
  tests/test_offset.py
Labels: python, tests

chore(master): release 0.5.0
  CHANGELOG.md
  pyoda_time/version.py
  pyproject.toml
Labels: python, markdown, release

feat(api): Tidy up public API & enforce via tests
  pyoda_time/__init__.py
  pyoda_time/calendars.py
  pyoda_time/utility.py
  tests/calendars/test_hebrew_calendar_system.py
  tests/test_calendar_system.py
  tests/test_public_api.py
  tests/test_utility.py
Labels: python, tests

feat(api): Tidy up public API & enforce via tests (#16)
  pyoda_time/__init__.py
  pyoda_time/calendars.py
  pyoda_time/utility.py
  tests/calendars/test_hebrew_calendar_system.py
  tests/test_calendar_system.py
  tests/test_public_api.py
  tests/test_utility.py
Labels: python, tests

fix(Instant): Raise OverflowError when Instant._plus() is passed a sufficiently large or small Offset
  pyoda_time/__init__.py
  tests/helpers.py
  tests/test_instant.py
Labels: python, tests

fix(Instant): Raise OverflowError when Instant._plus() is passed a sufficiently large or small Offset (#18)
  pyoda_time/__init__.py
  tests/helpers.py
  tests/test_instant.py
Labels: python, tests

feat: implement islamic, persian and um al qura calendars
  pyoda_time/__init__.py
  pyoda_time/calendars.py
  pyoda_time/fields.py
  pyoda_time/utility.py
  tests/calendars/test_hebrew_calendar_system.py
  tests/calendars/test_islamic_calendar_system.py
  tests/calendars/test_persian_calendar_system.py
  tests/calendars/test_um_al_qura_year_month_day_calculator.py
  tests/calendars/test_year_month_day_calculator.py
  tests/test_calendar_system.py
  tests/test_local_date.py
Labels: python, tests

feat: implement islamic, persian and um al qura calendars (#19)
  pyoda_time/__init__.py
  pyoda_time/calendars.py
  pyoda_time/fields.py
  pyoda_time/utility.py
  tests/calendars/test_hebrew_calendar_system.py
  tests/calendars/test_islamic_calendar_system.py
  tests/calendars/test_persian_calendar_system.py
  tests/calendars/test_um_al_qura_year_month_day_calculator.py
  tests/calendars/test_year_month_day_calculator.py
  tests/test_calendar_system.py
  tests/test_local_date.py
Labels: python, tests

fix(pre-commit): add v prefix to commitizen pre-commit hook rev
  .pre-commit-config.yaml
Labels: yaml

fix(pre-commit): add v prefix to commitizen pre-commit hook rev (#26)
  .pre-commit-config.yaml
Labels: yaml

chore(master): release 0.6.0
  CHANGELOG.md
  pyoda_time/version.py
  pyproject.toml
Labels: python, markdown, release

build(dependabot): auto rebase dependabot prs
  .github/dependabot.yml
Labels: yaml

build(dependabot): auto rebase dependabot prs (#27)
  .github/dependabot.yml
Labels: yaml

fix: remove v3 release-please config
  .github/workflows/release.yml
Labels: yaml

fix: remove v3 release-please config (#29)
  .github/workflows/release.yml
Labels: yaml

fix: port tests for coptic calendar, era and gregorian calendar
  pyoda_time/__init__.py
  pyoda_time/calendars.py
  pyoda_time/fields.py
  pyoda_time/time_zones.py
  pyoda_time/utility.py
  tests/calendars/test_coptic_calendar_system.py
  tests/calendars/test_era.py
  tests/calendars/test_gregorian_calendar_system.py
  tests/calendars/test_hebrew_calendar_system.py
  tests/calendars/test_hebrew_ecclesiastical_calculator.py
  tests/calendars/test_islamic_calendar_system.py
  tests/helpers.py
  tests/test_instant.py
  tests/test_public_api.py
  tests/time_zones/__init__.py
  tests/time_zones/test_zone_interval.py
Labels: python, tests

fix: add missing badi calendar tests
  pyoda_time/__init__.py
  tests/calendars/test_badi_calendar_system.py
Labels: python, tests

fix: add iso calendar system tests
  pyoda_time/__init__.py
  tests/calendars/test_iso_calendar.py
Labels: python, tests

fix: add julian calendar system tests
  tests/calendars/test_julian_calendar_system.py
Labels: python, tests

fix: add missing calendar tests (#20)
  pyoda_time/__init__.py
  pyoda_time/calendars.py
  pyoda_time/fields.py
  pyoda_time/time_zones.py
  pyoda_time/utility.py
  tests/calendars/test_badi_calendar_system.py
  tests/calendars/test_coptic_calendar_system.py
  tests/calendars/test_era.py
  tests/calendars/test_gregorian_calendar_system.py
  tests/calendars/test_hebrew_calendar_system.py
  tests/calendars/test_hebrew_ecclesiastical_calculator.py
  tests/calendars/test_islamic_calendar_system.py
  tests/calendars/test_iso_calendar.py
  tests/calendars/test_julian_calendar_system.py
  tests/helpers.py
  tests/test_instant.py
  tests/test_public_api.py
  tests/time_zones/__init__.py
  tests/time_zones/test_zone_interval.py
Labels: python, tests

feat: implement week year rules
  pyoda_time/calendars.py
  tests/calendars/test_iso_calendar.py
  tests/calendars/test_simple_week_year_rule.py
  tests/calendars/test_week_year_rules.py
Labels: python, tests

feat: implement week year rules (#30)
  pyoda_time/calendars.py
  tests/calendars/test_iso_calendar.py
  tests/calendars/test_simple_week_year_rule.py
  tests/calendars/test_week_year_rules.py
Labels: python, tests

chore(master): release 0.6.0
  CHANGELOG.md
  pyoda_time/version.py
  pyproject.toml
Labels: python, markdown, release

feat: implement period
  pyoda_time/__init__.py
  pyoda_time/calendars.py
  pyoda_time/fields.py
  pyoda_time/utility.py
  tests/test_duration.py
  tests/test_instant.py
  tests/test_period.py
  tests/test_period_builder.py
  tests/test_public_api.py
  tests/test_year_month.py
  tests/time_zones/test_zone_interval.py
Labels: python, tests

feat: implement period (#36)
  pyoda_time/__init__.py
  pyoda_time/calendars.py
  pyoda_time/fields.py
  pyoda_time/utility.py
  tests/test_duration.py
  tests/test_instant.py
  tests/test_period.py
  tests/test_period_builder.py
  tests/test_public_api.py
  tests/test_year_month.py
  tests/time_zones/test_zone_interval.py
Labels: python, tests

chore: update dependencies
  .pre-commit-config.yaml
  poetry.lock
Labels: yaml, dependencies

chore: update dependencies (#37)
  .pre-commit-config.yaml
  poetry.lock
Labels: yaml, dependencies

fix: include version.py file
  pyproject.toml
Labels: none

feat: include py.typed file
  pyoda_time/py.typed
  pyproject.toml
Labels: none

.github/labeler.yml:

python:
  - "**/*.py"

yaml:
  - "**/*.yaml"
  - "**/*.yml"

json:
  - "**/*.json"

markdown:
  - "**/*.md"

docker:
  - "**/Dockerfile"

shell:
  - "**/*.sh"

dependencies:
  - "poetry.lock"

documentation:
  - "docs/**"
  - README.md

tests:
  - "tests/**"

release:
  - "pyoda_time/version.py"
