Repository chrisimcevoy/pyoda-time, changes with the labels that .github/labeler.yml gives for each.
All labels: python, yaml, json, markdown, docker, shell, dependencies, documentation, tests, release

feat: include py.typed file (#40)
  pyoda_time/py.typed
  pyproject.toml
Labels: none

chore(master): release 0.6.0
  CHANGELOG.md
  pyoda_time/version.py
  pyproject.toml
Labels: python, markdown, release

chore(master): release 0.6.0 (#28)
  CHANGELOG.md
  pyoda_time/version.py
  pyproject.toml
Labels: python, markdown, release

chore: rename default branch
  .github/workflows/release.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Labels: yaml

chore: rename default branch (#41)
  .github/workflows/release.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Labels: yaml

docs: update license badge and trove classifiers
  README.md
  pyproject.toml
Labels: markdown, documentation

docs: update license badge and trove classifiers (#42)
  README.md
  pyproject.toml
Labels: markdown, documentation

feat: implement duration
  pyoda_time/__init__.py
  pyoda_time/utility.py
  tests/test_duration.py
  tests/test_instant.py
Labels: python, tests

feat: implement duration (#47)
  pyoda_time/__init__.py
  pyoda_time/utility.py
  tests/test_duration.py
  tests/test_instant.py
Labels: python, tests

test: add more namespaces to public api test
  pyoda_time/__init__.py
  pyoda_time/time_zones/_fixed_date_time_zone.py
  tests/test_public_api.py
Labels: python, tests

build(deps): update dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: yaml, dependencies

build(deps): update dependencies (#50)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: yaml, dependencies

fix: imports in test modules
  tests/text/test_offset_pattern.py
Labels: python, tests

docs: add docstrings to test helpers
  tests/culture_saver.py
  tests/text/cultures.py
Labels: python, tests

docs: update README.md and add CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Labels: markdown, documentation

style: use less tortured wording
  README.md
Labels: markdown, documentation

docs: update README.md and add CONTRIBUTING.md (#56)
  CONTRIBUTING.md
  README.md
Labels: markdown, documentation

docs: add sphinx project
  Makefile
  docs/Makefile
  docs/make.bat
  docs/source/_static/favicon.ico
  docs/source/_static/pyoda-time-bg-white.png
  docs/source/_static/pyoda-time-min.png
  docs/source/_static/pyoda-time.png
  docs/source/conf.py
  docs/source/index.rst
  docs/source/modules.rst
  docs/source/pyoda_time.calendars.rst
  docs/source/pyoda_time.fields.rst
  docs/source/pyoda_time.globalization.rst
  docs/source/pyoda_time.rst
  docs/source/pyoda_time.text.patterns.rst
  docs/source/pyoda_time.text.rst
  docs/source/pyoda_time.time_zones.rst
  docs/source/pyoda_time.utility.rst
  poetry.lock
  pyoda_time/_calendar_system.py
  pyoda_time/_date_time_zone.py
  pyoda_time/_local_date.py
  pyoda_time/_local_time.py
  pyoda_time/_pyoda_constants.py
  pyoda_time/calendars/_week_year_rules.py
  pyoda_time/utility/_csharp_compatibility.py
  pyproject.toml
Labels: python, dependencies, documentation

docs: add sphinx project (#61)
  Makefile
  docs/Makefile
  docs/make.bat
  docs/source/_static/favicon.ico
  docs/source/_static/pyoda-time-bg-white.png
  docs/source/_static/pyoda-time-min.png
  docs/source/_static/pyoda-time.png
  docs/source/conf.py
  docs/source/index.rst
  docs/source/modules.rst
  docs/source/pyoda_time.calendars.rst
  docs/source/pyoda_time.fields.rst
  docs/source/pyoda_time.globalization.rst
  docs/source/pyoda_time.rst
  docs/source/pyoda_time.text.patterns.rst
  docs/source/pyoda_time.text.rst
  docs/source/pyoda_time.time_zones.rst
  docs/source/pyoda_time.utility.rst
  poetry.lock
  pyoda_time/_calendar_system.py
  pyoda_time/_date_time_zone.py
  pyoda_time/_local_date.py
  pyoda_time/_local_time.py
  pyoda_time/_pyoda_constants.py
  pyoda_time/calendars/_week_year_rules.py
  pyoda_time/utility/_csharp_compatibility.py
  pyproject.toml
Labels: python, dependencies, documentation

docs: add readthedocs config
  .readthedocs.yaml
Labels: yaml

docs: add readthedocs config (#62)
  .readthedocs.yaml
Labels: yaml

docs: fix path to sphinx conf in .readthedocs.yaml
  .readthedocs.yaml
Labels: yaml

docs: fix path to sphinx conf in .readthedocs.yaml (#63)
  .readthedocs.yaml
Labels: yaml

chore: add readthedocs badge to README.md
  README.md
Labels: markdown, documentation

chore: add readthedocs badge to README.md (#64)
  README.md
Labels: markdown, documentation

docs: set custom domain as canonical url in sphinx
  docs/source/conf.py
Labels: python, documentation

docs: set custom domain as canonical url in sphinx (#65)
  docs/source/conf.py
Labels: python, documentation

chore: update dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyoda_time/_calendar_system.py
  pyoda_time/_duration.py
  pyoda_time/_instant.py
  pyoda_time/_local_date.py
  pyoda_time/_local_date_time.py
  pyoda_time/_local_instant.py
  pyoda_time/_local_time.py
  pyoda_time/_offset_date_time.py
  pyoda_time/_offset_time.py
  pyoda_time/_period.py
  pyoda_time/_year_month.py
  pyoda_time/_year_month_day.py
  pyoda_time/_year_month_day_calendar.py
  pyoda_time/_zoned_date_time.py
  pyoda_time/calendars/_i_week_year_rule.py
  pyoda_time/calendars/_year_month_day_calculator.py
  pyoda_time/text/_parse_result.py
  pyoda_time/text/_text_error_messages.py
  pyoda_time/text/patterns/_i_pattern_parser.py
  pyoda_time/text/patterns/_stepped_pattern_builder.py
  tests/helpers.py
  tests/test_duration.py
  tests/test_instant.py
Labels: python, yaml, dependencies, tests

chore: update dependencies (#66)
  .pre-commit-config.yaml
  poetry.lock
  pyoda_time/_calendar_system.py
  pyoda_time/_duration.py
  pyoda_time/_instant.py
  pyoda_time/_local_date.py
  pyoda_time/_local_date_time.py
  pyoda_time/_local_instant.py
  pyoda_time/_local_time.py
  pyoda_time/_offset_date_time.py
  pyoda_time/_offset_time.py
  pyoda_time/_period.py
  pyoda_time/_year_month.py
  pyoda_time/_year_month_day.py
  pyoda_time/_year_month_day_calendar.py
  pyoda_time/_zoned_date_time.py
  pyoda_time/calendars/_i_week_year_rule.py
  pyoda_time/calendars/_year_month_day_calculator.py
  pyoda_time/text/_parse_result.py
  pyoda_time/text/_text_error_messages.py
  pyoda_time/text/patterns/_i_pattern_parser.py
  pyoda_time/text/patterns/_stepped_pattern_builder.py
  tests/helpers.py
  tests/test_duration.py
  tests/test_instant.py
Labels: python, yaml, dependencies, tests

docs: update README.md to point to readthedocs
  README.md
Labels: markdown, documentation

docs: update README.md to point to readthedocs (#67)
  README.md
Labels: markdown, documentation

chore: add homepage to pyproject.toml
  pyproject.toml
Labels: none

chore: add homepage to pyproject.toml (#68)
  pyproject.toml
Labels: none

test: add `Period` based tests for `LocalDate`
  pyoda_time/_local_date.py
  pyoda_time/calendars/_badi_year_month_day_calculator.py
  tests/calendars/test_badi_calendar_system.py
Labels: python, tests

test: add `Period` based tests for `LocalDate` (#70)
  pyoda_time/_local_date.py
  pyoda_time/calendars/_badi_year_month_day_calculator.py
  tests/calendars/test_badi_calendar_system.py
Labels: python, tests

feat: Implement `PyodaFormatInfo`
  pyoda_time/_compatibility/_calendar.py
  pyoda_time/_compatibility/_calendar_data.py
  pyoda_time/_compatibility/_calendar_id.py
  pyoda_time/_compatibility/_culture_data.py
  pyoda_time/_compatibility/_culture_info.py
  pyoda_time/_compatibility/_culture_types.py
  pyoda_time/_compatibility/_date_time_format_info.py
  pyoda_time/_compatibility/_globalization_mode.py
  pyoda_time/_compatibility/_gregorian_calendar.py
  pyoda_time/_compatibility/_gregorian_calendar_helper.py
  pyoda_time/_compatibility/_hebrew_calendar.py
  pyoda_time/_compatibility/_hijri_calendar.py
  pyoda_time/_compatibility/_interop.py
  pyoda_time/_compatibility/_japanese_calendar.py
  pyoda_time/_compatibility/_korean_calendar.py
  pyoda_time/_compatibility/_number_format_info.py
  pyoda_time/_compatibility/_persian_calendar.py
  pyoda_time/_compatibility/_taiwan_calendar.py
  pyoda_time/_compatibility/_text_info.py
  pyoda_time/_compatibility/_thai_buddhist_calendar.py
  pyoda_time/_compatibility/_um_al_qura_calendar.py
  pyoda_time/globalization/_pattern_resources.py
  pyoda_time/globalization/_pyoda_format_info.py
  pyoda_time/text/_fixed_format_info_pattern_parser.py
  pyoda_time/text/_offset_pattern.py
  pyoda_time/utility/_cache.py
  tests/culture_saver.py
  tests/globalization/__init__.py
  tests/globalization/failing_culture_info.py
  tests/globalization/test_pyoda_format_info.py
  tests/text/cultures.py
Labels: python, tests

feat: Implement `PyodaFormatInfo` (#77)
  pyoda_time/_compatibility/_calendar.py
  pyoda_time/_compatibility/_calendar_data.py
  pyoda_time/_compatibility/_calendar_id.py
  pyoda_time/_compatibility/_culture_data.py
  pyoda_time/_compatibility/_culture_info.py
  pyoda_time/_compatibility/_culture_types.py
  pyoda_time/_compatibility/_date_time_format_info.py
  pyoda_time/_compatibility/_globalization_mode.py
  pyoda_time/_compatibility/_gregorian_calendar.py
  pyoda_time/_compatibility/_gregorian_calendar_helper.py
  pyoda_time/_compatibility/_hebrew_calendar.py
  pyoda_time/_compatibility/_hijri_calendar.py
  pyoda_time/_compatibility/_interop.py
  pyoda_time/_compatibility/_japanese_calendar.py
  pyoda_time/_compatibility/_korean_calendar.py
  pyoda_time/_compatibility/_number_format_info.py
  pyoda_time/_compatibility/_persian_calendar.py
  pyoda_time/_compatibility/_taiwan_calendar.py
  pyoda_time/_compatibility/_text_info.py
  pyoda_time/_compatibility/_thai_buddhist_calendar.py
  pyoda_time/_compatibility/_um_al_qura_calendar.py
  pyoda_time/globalization/_pattern_resources.py
  pyoda_time/globalization/_pyoda_format_info.py
  pyoda_time/text/_fixed_format_info_pattern_parser.py
  pyoda_time/text/_offset_pattern.py
  pyoda_time/utility/_cache.py
  tests/culture_saver.py
  tests/globalization/__init__.py
  tests/globalization/failing_culture_info.py
  tests/globalization/test_pyoda_format_info.py
  tests/text/cultures.py
Labels: python, tests

chore(main): release 0.7.0
  CHANGELOG.md
  pyoda_time/version.py
  pyproject.toml
Labels: python, markdown, release

refactor: Simplify `SteppedPatternBuilder` generic type parameters
  pyoda_time/text/_offset_pattern_parser.py
  pyoda_time/text/_parse_result.py
  pyoda_time/text/_value_cursor.py
  pyoda_time/text/patterns/_stepped_pattern_builder.py
  tests/text/patterns/test_stepped_pattern_builder.py
Labels: python, tests

refactor: Simplify `SteppedPatternBuilder` generic type parameters (#81)
  pyoda_time/text/_offset_pattern_parser.py
  pyoda_time/text/_parse_result.py
  pyoda_time/text/_value_cursor.py
  pyoda_time/text/patterns/_stepped_pattern_builder.py
  tests/text/patterns/test_stepped_pattern_builder.py
Labels: python, tests

.github/labeler.yml:

python:
  - "**/*.py"

yaml:
  - "**/*.yaml"
  - "**/*.yml"

json:
  - "**/*.json"

markdown:
  - "**/*.md"

docker:
  - "**/Dockerfile"

shell:
  - "**/*.sh"

dependencies:
  - "poetry.lock"

documentation:
  - "docs/**"
  - README.md

tests:
  - "tests/**"

release:
  - "pyoda_time/version.py"
