Repository chrisimcevoy/pyoda-time, changes with the labels that .github/labeler.yml gives for each.
All labels: python, yaml, json, markdown, docker, shell, dependencies, documentation, tests, release

.github/labeler.yml:

python:
  - "**/*.py"

yaml:
  - "**/*.yaml"
  - "**/*.yml"

json:
  - "**/*.json"

markdown:
  - "**/*.md"

docker:
  - "**/Dockerfile"

shell:
  - "**/*.sh"

dependencies:
  - "poetry.lock"

documentation:
  - "docs/**"
  - README.md

tests:
  - "tests/**"

release:
  - "pyoda_time/version.py"

feat: Implement `InstantPattern`
  pyoda_time/_compatibility/_culture_data.py
  pyoda_time/_compatibility/_date_time_format_info.py
  pyoda_time/_compatibility/_interop.py
  pyoda_time/_compatibility/_string_builder.py
  pyoda_time/_instant.py
  pyoda_time/_local_time.py
  pyoda_time/_offset.py
  pyoda_time/_offset_date_time.py
  pyoda_time/_zoned_date_time.py
  pyoda_time/globalization/_pyoda_format_info.py
  pyoda_time/text/__init__.py
  pyoda_time/text/_fixed_format_info_pattern_parser.py
  pyoda_time/text/_format_helper.py
  pyoda_time/text/_i_partial_pattern.py
  pyoda_time/text/_instant_pattern.py
  pyoda_time/text/_instant_pattern_parser.py
  pyoda_time/text/_local_date_pattern.py
  pyoda_time/text/_local_date_pattern_parser.py
  pyoda_time/text/_local_date_time_pattern.py
  pyoda_time/text/_local_date_time_pattern_parser.py
  pyoda_time/text/_local_time_pattern.py
  pyoda_time/text/_local_time_pattern_parser.py
  pyoda_time/text/_offset_pattern.py
  pyoda_time/text/_offset_pattern_parser.py
  pyoda_time/text/_parse_result.py
  pyoda_time/text/_text_error_messages.py
  pyoda_time/text/patterns/_date_pattern_helper.py
  pyoda_time/text/patterns/_i_pattern_parser.py
  pyoda_time/text/patterns/_pattern_cursor.py
  pyoda_time/text/patterns/_stepped_pattern_builder.py
  pyoda_time/text/patterns/_time_pattern_helper.py
  pyoda_time/time_zones/_fixed_date_time_zone.py
  pyoda_time/utility/_csharp_compatibility.py
  tests/text/pattern_test_data.py
  tests/text/test_instant_pattern.py
  tests/text/test_offset_pattern.py
Labels: python, tests

chore: fix imports so pytest can run
  tests/text/test_instant_pattern.py
Labels: python, tests

feat: Implement `InstantPattern` (#83)
  pyoda_time/_compatibility/_culture_data.py
  pyoda_time/_compatibility/_date_time_format_info.py
  pyoda_time/_compatibility/_interop.py
  pyoda_time/_compatibility/_string_builder.py
  pyoda_time/_instant.py
  pyoda_time/_local_time.py
  pyoda_time/_offset.py
  pyoda_time/_offset_date_time.py
  pyoda_time/_zoned_date_time.py
  pyoda_time/globalization/_pyoda_format_info.py
  pyoda_time/text/__init__.py
  pyoda_time/text/_fixed_format_info_pattern_parser.py
  pyoda_time/text/_format_helper.py
  pyoda_time/text/_i_partial_pattern.py
  pyoda_time/text/_instant_pattern.py
  pyoda_time/text/_instant_pattern_parser.py
  pyoda_time/text/_local_date_pattern.py
  pyoda_time/text/_local_date_pattern_parser.py
  pyoda_time/text/_local_date_time_pattern.py
  pyoda_time/text/_local_date_time_pattern_parser.py
  pyoda_time/text/_local_time_pattern.py
  pyoda_time/text/_local_time_pattern_parser.py
  pyoda_time/text/_offset_pattern.py
  pyoda_time/text/_offset_pattern_parser.py
  pyoda_time/text/_parse_result.py
  pyoda_time/text/_text_error_messages.py
  pyoda_time/text/patterns/_date_pattern_helper.py
  pyoda_time/text/patterns/_i_pattern_parser.py
  pyoda_time/text/patterns/_pattern_cursor.py
  pyoda_time/text/patterns/_stepped_pattern_builder.py
  pyoda_time/text/patterns/_time_pattern_helper.py
  pyoda_time/time_zones/_fixed_date_time_zone.py
  pyoda_time/utility/_csharp_compatibility.py
  tests/text/pattern_test_data.py
  tests/text/test_instant_pattern.py
  tests/text/test_offset_pattern.py
Labels: python, tests

feat: implement `LocalDateTimePattern`
  pyoda_time/_compatibility/_argument_exception.py
  pyoda_time/_compatibility/_calendar.py
  pyoda_time/_compatibility/_calendar_data.py
  pyoda_time/_compatibility/_culture_data.py
  pyoda_time/_compatibility/_culture_info.py
  pyoda_time/_compatibility/_culture_not_found_exception.py
  pyoda_time/_compatibility/_date_time_format_info.py
  pyoda_time/_compatibility/_icu_locale_data.py
  pyoda_time/_compatibility/_interop.py
  pyoda_time/_compatibility/_number_format_info.py
  pyoda_time/_compatibility/_persian_calendar.py
  pyoda_time/_compatibility/_um_al_qura_calendar.py
  pyoda_time/globalization/_pyoda_format_info.py
  pyoda_time/text/__init__.py
  pyoda_time/text/_composite_pattern_builder.py
  pyoda_time/text/_local_date_pattern.py
  pyoda_time/text/_local_date_pattern_parser.py
  pyoda_time/text/_local_date_time_pattern.py
  pyoda_time/text/_local_time_pattern.py
  pyoda_time/text/_local_time_pattern_parser.py
  pyoda_time/text/_value_cursor.py
  pyoda_time/text/patterns/_date_pattern_helper.py
  pyoda_time/text/patterns/_stepped_pattern_builder.py
  pyoda_time/text/patterns/_time_pattern_helper.py
  pyoda_time/utility/_csharp_compatibility.py
  tests/text/cultures.py
  tests/text/pattern_test_data.py
  tests/text/test_local_date_time_pattern.py
Labels: python, tests

fix: use correct import to allow `pytest` to work
  tests/text/test_local_date_time_pattern.py
Labels: python, tests

feat: implement `LocalDateTimePattern` (#85)
  pyoda_time/_compatibility/_argument_exception.py
  pyoda_time/_compatibility/_calendar.py
  pyoda_time/_compatibility/_calendar_data.py
  pyoda_time/_compatibility/_culture_data.py
  pyoda_time/_compatibility/_culture_info.py
  pyoda_time/_compatibility/_culture_not_found_exception.py
  pyoda_time/_compatibility/_date_time_format_info.py
  pyoda_time/_compatibility/_icu_locale_data.py
  pyoda_time/_compatibility/_interop.py
  pyoda_time/_compatibility/_number_format_info.py
  pyoda_time/_compatibility/_persian_calendar.py
  pyoda_time/_compatibility/_um_al_qura_calendar.py
  pyoda_time/globalization/_pyoda_format_info.py
  pyoda_time/text/__init__.py
  pyoda_time/text/_composite_pattern_builder.py
  pyoda_time/text/_local_date_pattern.py
  pyoda_time/text/_local_date_pattern_parser.py
  pyoda_time/text/_local_date_time_pattern.py
  pyoda_time/text/_local_time_pattern.py
  pyoda_time/text/_local_time_pattern_parser.py
  pyoda_time/text/_value_cursor.py
  pyoda_time/text/patterns/_date_pattern_helper.py
  pyoda_time/text/patterns/_stepped_pattern_builder.py
  pyoda_time/text/patterns/_time_pattern_helper.py
  pyoda_time/utility/_csharp_compatibility.py
  tests/text/cultures.py
  tests/text/pattern_test_data.py
  tests/text/test_local_date_time_pattern.py
Labels: python, tests

feat: implement `LocalDatePattern`
  pyoda_time/_compatibility/_culture_data.py
  pyoda_time/_compatibility/_date_time_format_info.py
  pyoda_time/_compatibility/_day_of_week.py
  pyoda_time/_local_date.py
  pyoda_time/text/_format_helper.py
  pyoda_time/text/_local_date_pattern.py
  pyoda_time/text/_local_date_pattern_parser.py
  tests/text/cultures.py
  tests/text/test_local_date_pattern.py
Labels: python, tests

feat: implement `LocalDatePattern` (#87)
  pyoda_time/_compatibility/_culture_data.py
  pyoda_time/_compatibility/_date_time_format_info.py
  pyoda_time/_compatibility/_day_of_week.py
  pyoda_time/_local_date.py
  pyoda_time/text/_format_helper.py
  pyoda_time/text/_local_date_pattern.py
  pyoda_time/text/_local_date_pattern_parser.py
  tests/text/cultures.py
  tests/text/test_local_date_pattern.py
Labels: python, tests

test: implement `TestBadiCalendarSystem.test_badi_epoch`
  tests/calendars/test_badi_calendar_system.py
Labels: python, tests

test: implement `TestHebrewCalendar.test_set_year`
  pyoda_time/calendars/_hebrew_year_month_day_calculator.py
  tests/calendars/test_hebrew_calendar_system.py
Labels: python, tests

test: implement `TestHebrewCalendar.test_add_months_months_between`
  tests/calendars/test_hebrew_calendar_system.py
Labels: python, tests

test: implement `TestHebrewCalendar.test_months_between`
  pyoda_time/calendars/_hebrew_year_month_day_calculator.py
  tests/calendars/test_hebrew_calendar_system.py
Labels: python, tests

test: implement `TestHebrewCalendar.test_months_between_time_of_day`
  tests/calendars/test_hebrew_calendar_system.py
Labels: python, tests

test: implement `TestHebrewCalendar.test_scriptural_compare`
  tests/calendars/test_hebrew_calendar_system.py
  tests/helpers.py
Labels: python, tests

fix: unbreak pytest command
  tests/calendars/test_hebrew_calendar_system.py
Labels: python, tests

test: implement `TestInstant.test_julian_date_conversions`
  pyoda_time/_instant.py
  pyoda_time/_local_date_time.py
  pyoda_time/_offset_date_time.py
  pyoda_time/_offset_time.py
  pyoda_time/_pyoda_constants.py
  pyoda_time/_zoned_date_time.py
  tests/test_instant.py
Labels: python, tests

test: implement tests marked `TODO` (#88)
  pyoda_time/_instant.py
  pyoda_time/_local_date_time.py
  pyoda_time/_offset_date_time.py
  pyoda_time/_offset_time.py
  pyoda_time/_pyoda_constants.py
  pyoda_time/_zoned_date_time.py
  pyoda_time/calendars/_hebrew_year_month_day_calculator.py
  tests/calendars/test_badi_calendar_system.py
  tests/calendars/test_hebrew_calendar_system.py
  tests/helpers.py
  tests/test_instant.py
Labels: python, tests

test: test that sealed classes are decorated with `typing.final`
  pyoda_time/_date_interval.py
  pyoda_time/calendars/_badi_year_month_day_calculator.py
  pyoda_time/calendars/_hebrew_year_month_day_calculator.py
  pyoda_time/calendars/_islamic_year_month_day_calculator.py
  pyoda_time/calendars/_julian_year_month_day_calculator.py
  pyoda_time/utility/_csharp_compatibility.py
  tests/utility/test_csharp_compatibility.py
Labels: python, tests

chore: avoid using sealed decorator in test classes
  tests/text/test_instant_pattern.py
Labels: python, tests

test: test that sealed classes are decorated with `typing.final` (#89)
  pyoda_time/_date_interval.py
  pyoda_time/calendars/_badi_year_month_day_calculator.py
  pyoda_time/calendars/_hebrew_year_month_day_calculator.py
  pyoda_time/calendars/_islamic_year_month_day_calculator.py
  pyoda_time/calendars/_julian_year_month_day_calculator.py
  pyoda_time/utility/_csharp_compatibility.py
  tests/text/test_instant_pattern.py
  tests/utility/test_csharp_compatibility.py
Labels: python, tests

chore: decorate `_YearsPeriodField` with `@final`
  pyoda_time/fields/_years_period_field.py
Labels: python

chore: decorate `_YearsPeriodField` with `@final` (#91)
  pyoda_time/fields/_years_period_field.py
Labels: python

feat: enforce consistent comparison operator behaviour
  poetry.lock
  pyoda_time/_date_interval.py
  pyoda_time/_duration.py
  pyoda_time/_instant.py
  pyoda_time/_local_date.py
  pyoda_time/_local_date_time.py
  pyoda_time/_local_instant.py
  pyoda_time/_local_time.py
  pyoda_time/_offset.py
  pyoda_time/_period.py
  pyoda_time/_year_month.py
  pyoda_time/_year_month_day.py
  pyoda_time/_year_month_day_calendar.py
  pyoda_time/time_zones/_zone_interval.py
  tests/helpers.py
  tests/test_comparison_operator_consistency.py
  tests/test_duration.py
  tests/test_instant.py
  tests/test_offset.py
  tests/test_public_api.py
  tests/test_year_month_day_calendar.py
Labels: python, dependencies, tests

fix: enforce consistent comparison operator behaviour (#95)
  poetry.lock
  pyoda_time/_date_interval.py
  pyoda_time/_duration.py
  pyoda_time/_instant.py
  pyoda_time/_local_date.py
  pyoda_time/_local_date_time.py
  pyoda_time/_local_instant.py
  pyoda_time/_local_time.py
  pyoda_time/_offset.py
  pyoda_time/_period.py
  pyoda_time/_year_month.py
  pyoda_time/_year_month_day.py
  pyoda_time/_year_month_day_calendar.py
  pyoda_time/time_zones/_zone_interval.py
  tests/helpers.py
  tests/test_comparison_operator_consistency.py
  tests/test_duration.py
  tests/test_instant.py
  tests/test_offset.py
  tests/test_public_api.py
  tests/test_year_month_day_calendar.py
Labels: python, dependencies, tests

refactor: simulate c# int overflow via reusable logic
  pyoda_time/utility/_csharp_compatibility.py
  tests/utility/test_csharp_compatibility.py
Labels: python, tests

refactor: simulate c# int overflow via reusable logic (#99)
  pyoda_time/utility/_csharp_compatibility.py
  tests/utility/test_csharp_compatibility.py
Labels: python, tests

feat: implement `LocalDate` and `LocalTime` constructors
  pyoda_time/_local_date.py
  pyoda_time/_local_date_time.py
  pyoda_time/_local_time.py
  pyoda_time/_offset_time.py
  pyoda_time/fields/_time_period_field.py
  tests/calendars/test_iso_calendar.py
  tests/test_comparison_operator_consistency.py
  tests/test_local_date.py
  tests/test_local_date_time.py
  tests/test_local_time.py
Labels: python, tests

feat: implement `LocalDate` and `LocalTime` constructors (#100)
  pyoda_time/_local_date.py
  pyoda_time/_local_date_time.py
  pyoda_time/_local_time.py
  pyoda_time/_offset_time.py
  pyoda_time/fields/_time_period_field.py
  tests/calendars/test_iso_calendar.py
  tests/test_comparison_operator_consistency.py
  tests/test_local_date.py
  tests/test_local_date_time.py
  tests/test_local_time.py
Labels: python, tests
